<div>
  <h2 class="dark:text-white font-bold text-3xl mb-4">Dispositivos disponibles</h2>
  <div *ngFor="let device of this.devices">
    <div class="bg-gray-600 rounded-xl p-1.5 hover:bg-gray-500 mx-1 my-2 text-white hover:cursor-pointer"
         (click)="goToDevice(device)">
      <div class="flex flex-col p-1.5">
        <div>
          <i-feather name="cpu" class="mx-1 text-lg"></i-feather>
          <span class="text-xl">{{ device.device_name }}</span>
        </div>
        <div class="flex flex-col sm:flex-row">
          <div>
            <i-feather name="map-pin" class="mx-1 font-light text-sm"></i-feather>
            <span class="font-light">{{ device.location }}</span>
          </div>
          <div>
            <i-feather name="info" class="mx-1 font-light text-sm"></i-feather>
            <span class="font-light">{{ device.type }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
