<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <i class="w-6 h-6" aria-hidden="true" data-feather="menu"></i>
</button>

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <div class="space-y-2 p-2 font-bold">
      <h1 class="text-center dark:text-white text-xl">Sistemas de Comunicaciones</h1>
      <h2 class="text-center dark:text-white">Proyecto IOT</h2>
    </div>
    <ul class="space-y-2 font-medium">
      <li>
        <a href="/" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i-feather name="cpu"></i-feather>
          <span class="ms-3">Dispositivos</span>
        </a>
        <a href="/about" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i-feather name="info"></i-feather>
          <span class="ms-3">Acerca de</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
