<div class="container text-white">
  <div>
    <div class="font-black">{{ device.device_name }}</div>
    <div class="font-thin">{{ device.location }}</div>
  </div>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">Temperature</th>
        <th scope="col" class="px-6 py-3">Humidity</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let measure of measures"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td>{{ measure.date }}</td>
        <td>{{ measure.temperature }}</td>
        <td>{{ measure.humidity }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
